ansi2html==1.8.0
asttokens==2.1.0
backcall==0.2.0
bokeh @ file:///C:/Windows/TEMP/abs_4a259bc2-ed05-4a1f-808e-ac712cc0900cddqp8sp7/croots/recipe/bokeh_1658136660686/work
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi
charset-normalizer==2.1.1
click @ file:///C:/ci/click_1646056762388/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorama @ file:///C:/Windows/TEMP/abs_9439aeb1-0254-449a-96f7-33ab5eb17fc8apleb4yn/croots/recipe/colorama_1657009099097/work
cytoolz @ file:///C:/b/abs_61m9vzb4qh/croot/cytoolz_1667465938275/work
dash==2.7.0
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-player==1.0.3
dash-renderer==1.9.0
dash-table==5.0.0
dask @ file:///C:/ci/dask-core_1658497112560/work
debugpy==1.6.3
decorator==5.1.1
distributed @ file:///C:/ci/distributed_1658523963030/work
entrypoints==0.4
executing==1.2.0
Flask @ file:///C:/ci/flask_1658860024433/work
Flask-Compress @ file:///C:/b/abs_a7ii9f64l5/croot/flask-compress_1668714951742/work
fsspec @ file:///C:/b/abs_34frbt0c5k/croot/fsspec_1667497834549/work
future @ file:///C:/ci_310/future_1642081234309/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
idna==3.4
ipykernel==6.17.1
ipython==8.6.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jedi==0.18.2
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
joblib @ file:///C:/b/abs_e60_bwl1v6/croot/joblib_1666298845728/work
jupyter-dash==0.4.2
jupyter_client==7.4.7
jupyter_core==5.0.0
lightgbm @ file:///C:/ci_310/lightgbm_1642119740841/work
locket @ file:///C:/ci/locket_1652904090946/work
lz4 @ file:///C:/ci_310/lz4_1643300078932/work
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
matplotlib-inline==0.1.6
mkl-fft==1.3.1
mkl-random @ file:///C:/ci_310/mkl_random_1643050563308/work
mkl-service==2.4.0
msgpack @ file:///C:/ci/msgpack-python_1652348582618/work
nba-api==1.1.14
nest-asyncio==1.5.6
numexpr @ file:///C:/b/abs_a7kbak88hk/croot/numexpr_1668713882979/work
numpy @ file:///C:/b/abs_5ct9ex77k9/croot/numpy_and_numpy_base_1668593740598/work
packaging==21.3
pandas @ file:///C:/b/abs_97pwvlq0kg/croot/pandas_1668631294821/work
parso==0.8.3
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.4
plotly @ file:///C:/ci/plotly_1658160673416/work
prompt-toolkit==3.0.33
psutil==5.9.4
pure-eval==0.2.2
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
pywin32==305
PyYAML==6.0
pyzmq==24.0.1
requests==2.28.1
retrying==1.3.3
scikit-learn @ file:///C:/b/abs_eezai1guz5/croot/scikit-learn_1667587552067/work
scipy==1.9.3
six==1.16.0
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
stack-data==0.6.1
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity @ file:///C:/Windows/TEMP/abs_980d07a6-8e21-4174-9c17-7296219678ads7dhdov_/croots/recipe/tenacity_1657899108023/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toolz @ file:///C:/b/abs_cfvk6rc40d/croot/toolz_1667464080130/work
tornado==6.2
traitlets==5.5.0
urllib3==1.26.12
wcwidth==0.2.5
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wincertstore==0.2
zict==2.1.0
